h1{
    background-color: brown;
    border-radius: 40px;
    border-bottom: 40px;
}
h2{
    color: green;
    background-color:rgb(234, 235, 235);
}

p{
    
    font-size: larger;
    font-style:italic;
    color: rgb(220, 207, 207);
    background-color: grey;
    border-style: dotted;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
}

.c1{
    color:brown;
    background-color: blanchedalmond; 
}

.c2{
    color:rgb(223, 105, 105);
    background-color: rgb(35, 24, 8);
}

*{
    font-family: monospace;
}

#div1{
    
    height: 100px;
    width: 150px;
        font: size 50px;;
        font-style:italic;
        color: rgb(220, 207, 207);
        background-color: rgb(0, 0, 0);
        border-style: dashed;
        border-top-left-radius: 50px;
        border-bottom-right-radius: 50px;
   
}

h4,h5,h6,p1{
    color: aquamarine;
    background-color: black;
    border-style:double;
}

body{
    background-image:url("img.jpg.jpg");
    background-size: cover;
}


img{
    
    float:inline-end;
}

